html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow: hidden;
}

#map {
    height: 90%;
    width: 100vw;
    background-color: #ffffff;
}

a {
    /* color:darkorange */
    color: #00AAE7;
  }
  
  a :hover {
    background-color: #f6931f;
  }
  

#about {
    height: 90%;
    width: 100 vw;
}

/* Style the header with a grey background and some padding */
 .header {
  overflow: hidden;
  background-color: #3c444d;
  padding: 10px 10px 50px;
  height: 10px;
}

 .header_txt {
     color:white;
     font-size:2vw;
     font-family: 'Public Sans', sans-serif;;
 }

.logo_txt {
    color:white;
    font-size:1vw;
    font-family: 'Public Sans', sans-serif;;
}

/* Create three equal columns that floats next to each other */
#title_span {
    position: fixed;
    left: 2vw;

}

#department_span {
    position: fixed;
    right: 5vw;
}

#logo_span{
    float: right;
    right: 1vw;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5vw 1vw 0.5vw 2vw;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;;
    font-size: 1.5vw;
}

/* Change color on hover */
.topnav a:hover{
    background-color: white;
    color: black;
}


#deep{
    float:right;
    width: 60 px;
    height: 60 px;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #3c444d;
    color: #ffffff;
    font-size: 1vw;
    font-family: 'Public Sans', sans-serif;;
}

.legend {
    line-height: 18px;
    color: #0D2D6C;
    font-family: 'Public Sans', sans-serif;;
    font-size: 0.9vw;
    padding: 1% 10%;
    background: #9ECF7C;
    opacity: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 17vw;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend p {
    line-height: 20px;
    margin: 0;
}

.legend .circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    background-color: #FDB515;
    border: 3px solid #0D2D6C;
}

.legend .square {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    background-color: #800026;
    border: 3px solid white;
}

.legend .title{
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;;
}